version: '3.8'

services:
  # 1. MongoDB (The Warehouse)
  mongo:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # 2. Redis (The Cache)
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"


  # 3. Qdrant (The Search Engine)
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_container
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  mongo_data:
  qdrant_data:


